In [4]:
import pymysql
from configparser import ConfigParser

# 讀取 .env 檔案取得資料庫連線資訊
config = ConfigParser()
config.read('../Chapter1/config.ini')

# 建立資料庫連線
connection = pymysql.connect(
    host=config.get('DB', 'host'),
    user=config.get('DB', 'user'),
    password=config.get('DB', 'password'),
    port=config.getint('DB', 'port'),
    cursorclass=pymysql.cursors.DictCursor,
    database= 'superstore'
)

# 查看資料庫中的所有資料表
with connection.cursor() as cursor:
    cursor.execute("SHOW TABLES FROM superstore;")
    tables = cursor.fetchall()

print(tables)

[{'Tables_in_superstore': 'customers'}, {'Tables_in_superstore': 'orderdetails'}, {'Tables_in_superstore': 'orders'}, {'Tables_in_superstore': 'products'}]

In [6]:
def sql_query(query):
    with connection.cursor() as cursor:
        cursor.execute(query)
        result = cursor.fetchall()
        
    return result

In [ ]:
def get_category_chart_data() -> list[dict[str, int]]:
    # 計算每個主類別的產品訂單數量
    category_query = """
    select  category as label ,count(category) as value
    from Products
    group by category;
    """
    data= sql_query(category_query)


    """
    將資料整理成
    [
        {'label': 'Category 1', 'value': 100},
        {'label': 'Category 2', 'value': 200},
        ...
    ]
    """


    return data
get_category_chart_data()

In [ ]:
def get_sub_category_chart_data(category):
    # 計算某個主類別，其子類別的產品訂單數量
    sub_category_query ="""
        select  sub_category as lable ,count(sub_category) as value
        from Products
        group by category,sub_category;"""
    data = sql_query(sub_category_query)
    """
    將資料整理成
    [
        {'label': 'Category 1', 'value': 100},
        {'label': 'Category 2', 'value': 200},
        ...
    ]
    """
    return data
get_sub_category_chart_data('Furniture')

In [ ]:
def get_products_and_order_details():
    # 取得 products 和 order_details 的資料
    products_order_details_query = """
    select  category,sub_category,product_name,profit
    from Products
    join OrderDetails
    on Products.Product_id =  OrderDetails.Product_id;
    """

    """
    將資料整理成
    products_and_order_details_result = [
        {'category': 'Furniture', 'sub_category': 'Bookcases', 'product_name': 'Bush Birmingham Collection Bookcase, Dark Cherry', 'sales': Decimal('825.17'), 'profit': Decimal('-14.29')}, 
        {'category': 'Furniture', 'sub_category': 'Bookcases', 'product_name': 'Sauder Camden County Barrister Bookcase, Planked Cherry Finish', 'sales': Decimal('1064.62'), 'profit': Decimal('2.27')},
        {'category': 'Furniture', 'sub_category': 'Bookcases', 'product_name': 'Sauder Inglewood Library Bookcases', 'sales': Decimal('2154.35'), 'profit': Decimal('14.44')}, 
        {'category': 'Furniture', 'sub_category': 'Bookcases', 'product_name': "O'Sullivan 2-Shelf Heavy-Duty Bookcases", 'sales': Decimal('723.85'), 'profit': Decimal('-18.39')},      
        {'category': 'Furniture', 'sub_category': 'Bookcases', 'product_name': 'Hon Metal Bookcases, Gray', 'sales': Decimal('851.76'), 'profit': Decimal('27.00')}
    ];
    """

    data= sql_query(products_order_details_query)

    # 回傳 products_and_order_details_result 以及 所有的 子類別名稱
    return data

get_products_and_order_details()

In [3]:
import pandas as pd
# def get_quantity_data():
# 取得所有產品的銷售數量資料
quantity_query = """select  category,sub_category,count(product_name),product_name
from Products
group by category,sub_category,product_name;
"""
data= sql_query(quantity_query)

NameError: name 'sql_query' is not defined

In [ ]:
print(data)

In [2]:
seed = set()
data_list = []

for i in data[:1000] :
    category=i['category'] 
    if category not in seed :
        seed.add(category)
        data_list.append({'name':category})
    children = i['sub_category']
#     if children not in seed:
#         # seed.add(children)
        
#     #     for x  in data_list:
        
#     #         x['children']={'name':children}   
#     # # Item = i['product_name']
#     # if Item not in seed:
#     #     seed.add(Item)
#     #     for it in data_list:
#     #         if['children']['name']
# # print(data_list)

NameError: name 'data' is not defined