讀取設定檔

In [3]:
# 引入模組
from configparser import ConfigParser
# 讀取 config.ini 檔案取得資料庫連線資訊
config = ConfigParser()

# 讀取 DB 區塊
config.read('config.ini')
print(config['DB'])
# 讀取 host
print(config['DB']['host'])
# 讀取 user
print(config['DB']['user'])

<Section: DB>
localhost
root

使用設定檔建立資料庫連線

In [13]:
import pymysql

# 讀取 config.ini 檔案取得資料庫連線資訊
from configparser import ConfigParser
# 讀取 config.ini 檔案取得資料庫連線資訊
config = ConfigParser()
config.read('config.ini')

# 建立資料庫連線
connection = pymysql.connect(
    host=config['DB']['host'],
    user=config['DB']['user'],
    password=config['DB']['password'],
    port=int(config['DB']['port']),
    cursorclass=pymysql.cursors.DictCursor,
)

with connection.cursor() as cursor:
    query = """
        SHOW DATABASES;
    """
    cursor.execute(query)
    result = cursor.fetchall()
print(result)

[{'Database': 'classicmodels'}, {'Database': 'imdb_top250_database'}, {'Database': 'information_schema'}, {'Database': 'my_database'}, {'Database': 'my_titanic'}, {'Database': 'my_train_titanic'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sakila'}, {'Database': 'social_media_app'}, {'Database': 'sys'}, {'Database': 'transaction_test'}, {'Database': 'world'}]

In [17]:
import pymysql

# 讀取 config.ini 檔案取得資料庫連線資訊
from configparser import ConfigParser
# 讀取 config.ini 檔案取得資料庫連線資訊






def show_database():
    config = ConfigParser()
    config.read('config.ini')
    # 建立資料庫連線
    connection = pymysql.connect(
    host=config['DB']['host'],
    user=config['DB']['user'],
    password=config['DB']['password'],
    port=int(config['DB']['port']),
    cursorclass=pymysql.cursors.DictCursor,
    )

    with connection.cursor() as cursor:
        query = """
            SHOW DATABASES;
        """
        cursor.execute(query)
        result = cursor.fetchall()
    return result





def sql_query(query):
    config = ConfigParser()
    config.read('config.ini')
    # 建立資料庫連線
    connection = pymysql.connect(
    host=config['DB']['host'],
    user=config['DB']['user'],
    password=config['DB']['password'],
    port=int(config['DB']['port']),
    cursorclass=pymysql.cursors.DictCursor,
    )
    with connection.cursor() as cursor:
        
        cursor.execute(query)
        result = cursor.fetchall()
    return result

show_database()

[{'Database': 'classicmodels'},
 {'Database': 'imdb_top250_database'},
 {'Database': 'information_schema'},
 {'Database': 'my_database'},
 {'Database': 'my_titanic'},
 {'Database': 'my_train_titanic'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sakila'},
 {'Database': 'social_media_app'},
 {'Database': 'sys'},
 {'Database': 'transaction_test'},
 {'Database': 'world'}]

In [25]:
from sql_utils import sql_query, show_databases

dbs= show_databases()
print(dbs)
data = sql_query('SHOW TABLES FROM my_titanic;')
print(data)

ImportError: cannot import name 'sql_query' from 'sql_utils' (c:\Users\student\Downloads\PortableGit\pymysql_d3\Chapter1\sql_utils.py)

使用 SQL 函式

In [ ]:
from sql_utils import sql_query

data = sql_query("SHOW DATABASES;")
print(data)